<ul class="sg-list sg-list--icons">
  <li class="sg-list__item">
    <i class="icon--facebook"></i> 
    &lt;i class="icon--facebook"&gt;&lt;/i&gt;
  </li>
  <li class="sg-list__item">
    <i class="icon--instagram"></i> 
    &lt;i class="icon--instagram"&gt;&lt;/i&gt;
  </li>
  <li class="sg-list__item">
    <i class="icon--twitter"></i> 
    &lt;i class="icon--twitter"&gt;&lt;/i&gt;
  </li>
</ul>