<ul class="sg-list sg-list--icons">
  <li class="sg-list__item">

		<span class="sg-swatch u-bg-core-black">
    </span>

		<span class="sg-label">
			Black<br>
			$core-black<br>
			#0B0C0C<br>
			rgb(11, 12, 12)
    </span>

	</li>
</ul>