{{# button }}

{{# a-element }}

<p>
  <a class="{{ class }}" href="{{ url }}">{{ text }}</a>
</p>

{{/ a-element }}

{{# button-element }}

<p>
  <button class="{{ class }}">{{ text }}</button>
</p>

{{/ button-element }}

{{# input-element }}

<p>
  <input type="submit" class="{{ class }}" value="{{ value }}">
</p>

{{/ input-element }}

{{/ button }}
