<!DOCTYPE html>
<html class="{{ html-class }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <!-- https://fonts.google.com/specimen/Lato?selection.family=Lato|Open+Sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Open+Sans">

    <link rel="stylesheet" href="/assets/css/style.min.css?{{ cacheBuster }}" media="all" />
    
    <link rel="stylesheet" href="/assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ body-class }}">
    
